body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: goldenrod;
  background-color: black;
}

a {
  color: #00B7FF;
}

#artist_name {
  cursor: pointer;
  float: left;
}

#artist_name:hover {
  background-color: darkgoldenrod;
  color: rgb(153, 0, 0);
}